@charset "UTF-8";
html {
    font: 1.2rem/1.7 sans-serif;
}

body {
    
}

div {
    display: flex;
    margin: 20px auto;
    width: 90%;
    max-width: 700px;
}

div > p {
    flex: 1;
}

p a {
    padding: 2px 1px 0;
}

p a:link {
    color: #080153;
}

p a:visited {
    color: #161d7a;
}

p a:focus {
    background-color: #9c98e4;
}

p a:hover {
    background-color: #b1aafe;
}

p a:active {
    background-color: #080153;
    color: #b1aafe;
}

p.borderBottom a {
    outline: none;
    text-decoration: none;
    border-bottom: 1px solid;
}
